.formContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formContainer h2 {
  margin-bottom: 20px;
  font-size: 1.8rem;
  color: #333;
}

.formContainer div {
  margin-bottom: 15px;
}

.formContainer label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.formContainer input,
.formContainer select {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formContainer .observations {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 15px;
}

.formContainer .observations ul {
  margin: 0;
  padding-left: 20px;
}

.formContainer .buttonsContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.formContainer button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.formContainer button:hover {
  background-color: #0056b3;
}

.formContainer .cancelButton {
  background-color: #6c757d;
}

.formContainer .cancelButton:hover {
  background-color: #5a6268;
}

.formContainer .newCampaignButton {
  background-color: #387e3a;
}

.formContainer .newCampaignButton:hover {
  background-color: #245a25;
}

.formContainer button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.formContainer button:disabled:hover {
  background-color: #cccccc;
}

.error {
  color: red;
  margin-top: 10px;
}
